.header-main {
  text-align: center;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.33);
  margin-top: 20px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-nav a {
  color: rgb(247, 78, 78);
  font-size: 28px;
}

.navbar-nav a:hover {
  color: rgb(247, 78, 78);
  filter: brightness(0.8);
}

#page-title {
  font-size: 64px;
}