#filter-bar {
  background-color: cyan;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  min-width: 100%;
  padding: 10px;
  box-shadow: 4px 4px 8px black;
  margin-bottom: 20px;
}