.cake-card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  display: flex;
}

.cake-card img {
  border-radius: 15px;
  margin-right: 10px;
  border: 1px solid rgb(247, 78, 78);
}

.info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: rgb(247, 78, 78);
}

a:hover {
  color: rgb(247, 78, 78);
}

.cake-card:hover {
  box-shadow: 0px 0px 12px rgb(247, 78, 78);
}